/* This style is for paragraph */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
* {
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
}
body, form, input, textarea {
    font-family: 'Montserrat', sans-serif;
}
span {
    display: block;
}
img {
    width: 100%;
}
p {
    line-height: 25px;
    font-size: 18px;
}

h2{
    text-transform: uppercase;
}
.container {
    width: 1400px;
    margin: 0 auto; 
}
section.banner {
    color: white;
    padding: 64px;
    height: 38vh;
}
#home-header {
    background: #fff url(../images/inde.jpg) no-repeat;
    padding: 20px;
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
}
nav.header-navigation {
    margin-top: 0pxs;
}
nav.header-navigation {
    display: inline-flex;
    font-size: 44px;
}
nav.header-navigation a {
    font-size: 18px;
    text-decoration: none;
    margin: 13px;
    color: #000000;
}
.nav-container {
    /* padding: 30px; */
    list-style-type: none;
    display: inline;
    margin-top: 30px;
    /* min-height: 400px; */
    margin-right: 60px;
    /* margin: 0; */
    /* padding: 0; */
}
nav-container {
    text-decoration: none;
    border: 1px solid transparent;
    padding-top: 23px;
    padding-right: 36px;
    padding-left: -14px
}
h1 
{
    color: #ff8ad0;
    font-size: 100px;
    margin-top: 150px;
    text-align: center;
}
.about-me {
    width: 50%;
    text-align: left;
    display: inline-block;
}

/* Add your Banner here */  



/* Add your About Styles here*/
body, form, input, textarea {
    font-family: 'Montserrat', sans-serif;
}
section.about-section {
    background: url(../images/cactus.jpg); 
    color: #fff;
    text-align: right;
    padding: 57px;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-me {
    width: 50%;
    text-align: left;
    display: inline-block;
    margin-right: 135px;
}
h2 {
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 27px;
    text-align: right;
}   
p {
    line-height: 25px;
    font-size: 18px;
}

section#skills .col {
    font-size: 87px;
    display: inline-block;
}
section#skills .col {
    font-size: 87px;
    display: inline-block;
    width: 28%;
}
span {
    display: inline-block;
    color: #f7c84b;
}
.about-me p {
    margin-bottom: 15px;
}
.container {
    width: 1206px;
    margin: 0 auto;
    /* float: right; */
    /* margin-right: 41px; */
    /* margin-left: 50pc; */
}

/* Add your Skills Styles here*/
section#skills .col {
    font-size: 87px;
}
section#skills {
    background: url(../images/pine.jpg);
    color: #fdf8f8;
    background-size: cover;
    background-attachment: fixed;
    padding: 55px;
}
section.quote {
    padding: 90px 50px;
    text-align: center;
    background: #ffa5ca;
    color: #fff;
}


/* Contact Styles */
section#contact {
    background: url('../images/donut.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.form-container {
    text-align: right;
    width: 95%;
}
input[type="text"]:focus-visible, textarea:focus-visible {
    outline: none;
}
textarea#message {
    border: 1px solid #000;
    border-radius: 9px;
}
input[type="button"]:hover {
    background: aquamarine;
    color: black;
}
input[type="text"], input[type="email"], textarea {
    width: 51%;
    padding: 13px;
    font-size: 20px;
    border: none;
    background: transparent;
    border-bottom: 1px solid #9d6565;
    margin-bottom: 14px;
    display: -webkit-inline-box;
    text-align: center;
}
/* Footer Styles */
footer, a {
    color: #fff;
}
footer {
    background: #1a1a1a;
}
section.footer-1 .col {
    vertical-align: top;    
    display: inline-block;
    width: 30%;
    padding: 17px;
}   
section.footer-1 .col ul li img {
    width: 100px;
    margin-top: 10px;
}
section.footer-1 .col ul li {
    list-style: none;
    display: inline-block;
}
.footer-1 form {
    width: 118%;
    margin-top: 3px;
}
.footer-1 input[type="button"] {
    margin-top: 0;
    font-size: 11px;
    padding: 14px 4px;
    letter-spacing: 3px;
}
.social-media-icon {
    margin-top: 15px;
}
.social-media-icon a {
    font-size: 45px;
}
.social-media-icon a:hover {
    color: #00c8a3;
}
.footer-1 input#email {
    border: 1px solid #fff;
    border-radius: 20px;
    margin-bottom: 12px;
}
footer h3 {
    line-height: 31px;
    font-size: 11px;
}
span.copyright {
    margin-top: 20px;
}
h2 {
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 27px;
    text-align: center;
}
label {
    display: block;
    text-align: center;
}
textarea#message {
    border: 1px solid #000;
    border-radius: 26px;
    margin: 42px;
    padding-top: 25px;
}
section.footer-1 {
    display: inline-flex;
}
input[type="button"] {
    background-color: green;
}

/* about us page*/

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7)),url(../images/about.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: : fff;
}
.sub-header h1{
    margin-top: 100px;
}

/* bootstrap */

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

/* skill */

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  /* pricing */
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }